.wrap {
  display: flex; 
  justify-content: center; 
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 25vw;
    height: 45vh;
    background-color: rgb(253, 210, 182);
    padding: 10px;
    border-radius: 5px;
}
.form-title {
    font-size: 30px;
    font-weight: 700;
}

.form-button {
    width: 100px;
    height: 34px;
    background-color: salmon;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
}

.form-button:hover {
    cursor: pointer;
    background-color: rgb(250, 149, 137);
}